:root {
    --secondary-color: #1a1f71; /* Dark Blue */
    --secondary-dark-color: #151a5a; /* Darker Blue */
    --primary-color:  #78909c;/* Light Grey */
    --primary-dark-color: #b0bec5;/* Darker Grey */
    --text-color: black; /* Dark Grey */
    --background-color: #eceff1; /* Light Grey */
    --border-color: #90a4ae; /* Medium Grey */
    
  }
  
  .container {
    margin: 0 auto;
    padding: 2rem;
    font-size: 1.2rem;
  }
  
  button {
    font-size: 1.5rem;
    background-color: #1a1f71 !important;
  }